{$DOMAIN}, www.{$DOMAIN} {
	@www host www.{$DOMAIN}
	redir @www https://{$DOMAIN}{uri} permanent

	root * /srv
	encode gzip

	handle /api/* {
		reverse_proxy challenges-backend:8080
	}

	handle_path /solver/* {
		reverse_proxy solver-backend:8080
	}

	handle {
		try_files {path} /index.html
		file_server
	}
}
